body{
	 -webkit-user-select: none;  /* Chrome all / Safari all */
	 -moz-user-select: none;     /* Firefox all */
	 -ms-user-select: none;      /* IE 10+ */
	 user-select: none;          /* Likely future */
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     width: 100%;
    margin: 0 auto;
}

/* Open Sans Regular */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


/* HelveticaNeue Regular  */
@font-face {
    font-family:"HelveticaNeue Regular";
    src: url('./font/helveticaneue/HelveticaNeue.ttf');
}


.retourligne {clear: both;}
.Helvetica {font-family: "HelveticaNeue, Regular";}
.blanc {color: white;}
.noir {color: black;} /* Texte fonctionnalité noir */
.jaune {color: #EEC155;}/* couleur jaune custom pour bordure et couleur bouton */
#backJaune {background-color: #EEC155;}
.width80 {width: 80%;}
.h1-custom { font-size: 54px; font-weight: lighter;}
.h2-custom { font-size: 45px; font-weight: lighter; display: -webkit-inline-box; margin-top: 15px;}
.left10 {margin-left: 10%;}
.left15 {margin-left: 15%;}
.left40px {margin-left: 40px;}
.top50px {margin-top: 50px;}
.top80px {margin-top: 80px;}

/* ---------------------Accueil */
#logomini {float:left; width: 6%; display: block;}
#logomini img {display: block; width: 100%;}




.inside{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 100px;
/*    background-color: chartreuse;*/
}

#mainAccueil {    
    background-image: url(../../assets/img/fond.jpg);
    background-position: center center;
    width: 100%;
    height: 780px;
    background-repeat: no-repeat;
}


.colonneAccueil  {
    float: left;
	margin-top: 130px;
	width: 48%;
    margin-left: 55%;
    margin-bottom: 10px;
}

/* espace texte bouton accueil */
    .btnAccueil {/* bouton accueil custom */
     font-weight: 800;
     font-size: 18px;
      border: 4px solid; 
      border-radius : 25px;
     padding: 10px 60px 10px 60px;
      border-color: #EEC155;
      color: #EEC155;
      text-decoration:none;
      margin-top: 50px;
    }


.badge { 
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 0;
    padding: 0;
	border: 1px solid #95989A;
	background-color: #C6C6C6;
}

.badge:hover {
	background-color: white!important;
}

.list-badge {
	margin: 0 auto; display: block; text-align: center; top: -20px; position: relative;
    margin: 0px 0px 0px 50px;
}
/* Fin accueil */

/*  ---------------------Fonctionnalité */
#imgFonctionnalite {
    width: 85%;
    margin-top: 60px;
}

.colFonctionnalite {
    width:100%; display:inline-block; 
    margin-bottom:1px; background-color: rgba(149,152,154,0.2); 
    margin-top:1px;
}

.fonctionnalite {
    width: 55%;
    float: right;
    margin-bottom: 60px;
    margin-top: 40px;
}

.contentEquipe {width: 40%; margin-left:15%;float: left; margin-bottom: 40px;}


.fonctionnaliteImg {width: 45%;}
/* Fin fonctionnalite */


/*  ---------------------Equipe */
#mainEquipe {background-image: url('../../assets/img/equipe.png');
    width: 100%; background-repeat: no-repeat; background-position:top center; float: left;}
}

.colEquipe {width: 35%; margin-left:15%;}
.mesIcons {width: 100%; display: inline-block;}

.iconEquipe {margin-right: 10px; margin-top: 40px;  width: 20%;}
/* Fin equipe */

/*  ---------------------Contact */
.colContact {
    width: 100%;
    height: 80%;
    background-color: #151515;
    margin-top: 1px;
}

.contentContact {
    width: 50%;
    text-align: center;
    float: left;
    margin-left: 25%;
    margin-bottom: 40px;
}

.custom-input {
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom-color:#EEC155;
  font-size:15px;
  background-color:#151515;
  margin-top: 20px;
  color:white;
  padding:10px 100px 10px 0px;
}

.custom-input:focus, .custom-textarea:focus {
  border-color:red;
}

.custom-textarea {
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom-color:#EEC155;
  font-size:15px;
  background-color:rgba(21,21,21,0.4);
  padding:10px 100px 200px 0px;
  margin-top: 40px;
  margin-left: 10px;
  color:white;
}


/*  Supprimer le contour bleu lors du focus sur les champs de formulaire  */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
}

.custom-envoyer {
  color:#EEC155;
  text-decoration:none; 
  text-align:center;
  font-size: 20px;
}

.custom-envoyer:hover {
  color:red;
}

#Scrolltop0 {
    float: right;
    margin-right: 100px;
    margin-top: 45%;
}
/*  Fin contact */


/*  ---------------------Connexion */
#imgConnexion {
    width: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: top center !important;
    width: 100%;
    position: absolute;
}



/* Debut menu */
#menu {top:0; left: :0; width: 100%;}

/* Debut menu */
	#navigation {display: inline-block;list-style: none;}
		#navigation li {display: inline-block; margin: 10px 70px 0px 70px;}/* Affichage du menu en ligne horizontal avec marge */
			#navigation li a {
				display: inline-block; padding: 15px 0; color: white;
				text-decoration: none; text-transform: uppercase;
		    font-size: 1.5em; padding: 3px; position: relative;
		}
			/* Survol li menu */
			#navigation li a:hover {color: #EEC155;}





@media screen and (max-width: 1025px){
#navigation li {margin: 10px 55px 0px 55px;}
.colonneAccueil {margin-left: 20%;}
#imgFonctionnalite {margin-top: 20px; margin-bottom: 40px;}
.width80 {width: 75%; margin-left: 15%;}
    .fonctionnalite { text-align: center; width: 100%; float: left; margin-bottom: 40px; margin-top: 20px;}
    .fonctionnaliteImg {width: 70%; float: left; margin-left: 15%;}
    .contentEquipe {width: 60%; margin-left: 15%; float: left; margin-bottom: 80px;}





@media screen and (max-width: 800px){
		body {background-color: #1A1A1A;}
		#Accueil{display: none;}
		#imagescacher{display: block;}
			#imagescacher img{display: block; width: 90%; margin: 10px auto 0 auto;}
			#menu {position: relative;}
			#menuBurger {display: inline-block; width: 40px; height: 40px;
				background-image: url('../img/menuBurger.png'); background-position:center;
				position: absolute; top:10px; right:5%; z-index: 800; cursor: pointer;
			}
			#logomini {margin:20px 0 20px 20px}
			#logomini img {width: 150px;}
			#navigation {display: none; margin:0; padding-bottom: 20px; float:none; width:100%;
				clear:both; border-top:1px solid #BCBCBC;}
			#navigation li {display: block; float:none; margin: 10px 5% 0 40%}
			#navigation li a {display: block; right:10%;}
            .top80px {margin-top: 60px;}
            .h1-custom {font-size: 35px; margin-top: 50px;}
			.h2-custom {font-size: 30px;}

    
            #arrow-down {    width: 7%;}
        
            .colonneAccueil {margin-top: 10px; width: 80%;}
            #imgAccueil { width: 100%; height: 60%;}
            .btnAccueil { padding: 5px 10px 5px 10px;}
    
            .colFonctionnalite {margin-top: 5px;}
    
            .fonctionnalite {margin-left: 50px; margin-top: 40px; width: 80%;}
            #imgFonctionnalite {width:80%;}
            .contentEquipe {width:80%;}
            #imgEqupe {    width: 100%; position: absolute;  height: 40%; }
            .iconEquipe {width:20%;}
            .colContact {    margin-top: 100px;}
}



