/* Open Sans Regular */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
	 -webkit-user-select: none;  /* Chrome all / Safari all */
	 -moz-user-select: none;     /* Firefox all */
	 -ms-user-select: none;      /* IE 10+ */
	 user-select: none;          /* Likely future */
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.erreur {
    border-color: #ff0000;
    color: #ff0000;
  }


.icon-logout {
    position: absolute;
    color:red; margin-left: 20px; top: 25px;
}

a {text-decoration: none; color: black;}

.retourligne {clear: both;}

.left {float: left;}
.right {float: right;}

.white{color: white;}
.block {display: block;}
.row {display: -webkit-box;}
.center {text-align: center; }


.left85 {margin-left: 85%;}
.left75 {margin-left: 75%;}
.left80 {margin-left: 80%;}
.left70 {margin-left: 70%;}
.left100px {margin-left: 100px;}

.top10px {margin-top: 10px;}
.top20px {margin-top: 20px;}
.top40px {margin-top: 40px;}
.top-20 {margin-top: -20px;}
.top-10{ margin-top: -10px;}

.mainAccueil {width: 100%; margin-bottom: 10px; display: inline-block; margin-top: 20px;}
.ContentSecretaire {width: 100%; margin-left: 5%; margin-top: 2%;}
.taches {
    border-radius: 150px; padding: 0px 50px 0px 70px; width: 80%; border: 1px solid; 
    border-color: black; display: inline-block; cursor: pointer; margin-bottom: 20px;
}
/*

#rechercher {float: right; margin-right: 5%;}
*/
.Contentsearch {
  position: relative;
  color: #aaa;
  font-size: 16px;
  float: right; margin-right: 5%;
}

.Contentsearch input {
  width: 250px;
  height: 32px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 16px;
}

.Contentsearch input { text-indent: 32px;}
.Contentsearch .fa-search { 
  position: absolute;
  top:7px;
  left: 10px;
}    

.custom-h1 {margin: 0 auto; display: block; text-align: center; margin-top: 20px;}
.arrow-left {width: 60%;}


.importanceRed, .importanceVert {
    background-color: red;
    border-radius: 50px;
    border: 1px solid;
    }
    .importanceVert {background-color: chartreuse;}

.custom-input3 {
    background-color: whitesmoke;
    cursor: pointer;
    width: 200px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px 40px 20px 40px;
    border-color: black;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 40px;
}


.custom-input {
    cursor: pointer;
    width: 270px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px 40px 20px 40px;
    border-color: black;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 40px;
}

.custom-input:focus, .custom-textarea:focus {
  border-color:red;
}

input[type='text'] {
    background-image: url(../icon/user.jpg);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

input[type='password'] {
    background-image: url(../icon/pass.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

#SelectTypeTache {margin-left: 5%;}

.custom-select {
    width: 20%;
    margin-left: 40px;
    height: 45px;
    border: 1px solid;
    border-radius: 25px;
    background-color: white;
}


.custom-textarea {
    float: right;
    margin: 40px 0px 0px 10px; width: 940px; height: 248px;
    border: 1px solid;
    border-radius: 25px;
    border-color: black;
    font-size: 15px;
    padding: 10px 100px 200px 10px;
    margin-top: 40px;
    margin-left: 10px;
    color: black;
    margin: 40px 0px 0px 10px; 
}

.custom-textarea2 {
    float: left;
    margin: 40px 0px 0px 120px;
    width: 800px;
    height: 250px;
    border: 1px solid;
    border-radius: 25px;
    border-color: black;
    font-size: 15px;
    padding: 10px 100px 200px 10px;
    /* margin-top: 40px; */
    /* margin-left: 10px; */
    color: black;
    /* margin: 40px 40px 0px 0px; */
}

/*  Supprimer le contour bleu lors du focus sur les champs de formulaire  */
input[type="text"]:focus, input[type="password"]:focus,  input[type="button"]:focus, textarea:focus{
	outline: none;
}


#formAjoutTache {
    text-align: -webkit-center;
    margin-top: 20px;
}


.btnAjoutTache{
    float: right;
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-top: 15%;
    margin-right: 10%;
}


.btnEnvoieMessage {
        float: right;
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-top: 10%;
    /* float: left; */
    margin-right: 10%;
}

.btnReponseMessage {
    float: right;
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-top: 5%;
    /* float: left; */
    margin-right: 10%;
}


.filterMessagerie {
    display: inline-block;
    margin: 0px 0px 0px 60px;
}

.imgTache {
    border-radius: 70px;
    float: right;
    margin-top: 40px;
    margin-right: 150px;
    width: 15%;
}

#mesActions {margin-left: -5%;}
#mesActions li {
    list-style: none;
    display: inline-block;
    margin-left: 2%;
}
#mesActions li a {
    color:red;
}

#mesActions li a:hover {
    text-transform: uppercase;
}



/* Debut menu */
#menu {display: inline-block; left:0; top:0; width: 100%; 
    background-color: #843D2B;}

/* Debut menu */
#navigation {list-style: none; font-size: small; margin: 30px;}
    #navigation li {display: inline-block; margin: 0px 70px 0px 70px;}/* Affichage du menu en ligne horizontal avec marge */
			#navigation li a {
				display: inline-block; padding: 15px 0; color: white;
				text-decoration: none; text-transform: uppercase;
		    font-size: 1.5em; padding: 3px; position: relative;
		}
			/* Survol li menu */
			#navigation li a:hover {color: #EEC155;}

