
/* Open Sans Regular */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
	 -webkit-user-select: none;  /* Chrome all / Safari all */
	 -moz-user-select: none;     /* Firefox all */
	 -ms-user-select: none;      /* IE 10+ */
	 user-select: none;          /* Likely future */
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

    
.left {float: left;}
.right {float: right;}
.center {text-align: center;} 
.relative {position: relative;}

.custom-brown {color: #843D2B;}
.white {color: white;}
.black {color: black;}

#bloc_page
{
    max-width: 1024px;
    margin: auto;
    min-width: 320px;
}

.technicien {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
}

p {font-family: "HelveticaNeue Regular";}
 
a {text-decoration: none; color: black;}
.a-custom {
    display: inline-block;
    margin: 5px 5px 0px 5px;
    }
    
.custom-input {
    margin: 5px 5px 5px 5px;
    width: 95%;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px 40px 10px 40px;
    border-color: black;
    color: black;
    text-decoration: none;
}

.custom-input:focus, .custom-textarea:focus {
  border-color:red;
}

input[type='text'] {
    background-image: url(../icon/user.jpg);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

input[type='password'] {
    background-image: url(../icon/pass.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

input[type='search'] {
    background-image: url(../icon/search.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
    
#imgPerso {
    position: absolute;
    left: 70%;
    top: 10%;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 70px;
    height: 70px;   
}

.h1-custom, .h1-custom2 
    {
        color: white;
        margin: 0px 30px 0px 30px;
        display: inline;
        font-size: 30px; 
    }

.h1-custom2 {margin: 0px 30px 0px 0px;}
    
.entete {
        text-align: center;
        background-color: #843D2B;
        padding: 5px;
    }

    
.lastIntervention {
    text-align: center;
    background-color: #843D2B;
    margin: auto;
    display: block;
}
    
.intervention {
    border-radius: 150px;
    padding: 0px 10px 0px 50px;
    width: 95%;
    border: 1px solid;
    border-color: black;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    margin: 10px auto;
    display: block;
}

.fontweight100 {
    font-weight: 100;
}

    .arrow-left, .arrow-left2 {
        width: 5%;
        margin-left: 70%;
        position: absolute;
    }
    
    .importanceRed, .importanceVert {
    background-color: red;
    border-radius: 50px;
    border: 1px solid;
    }
    .importanceVert {background-color: chartreuse;}
    
.menu {
   background-color: rgba(132,61,43,0.6);
}
    
#navigation {
    display: -webkit-box;
    list-style: none;
    margin-left: -10%;
    margin-bottom: 0;
    }

#navigation i{
    margin: 0px 15px 0px 15px;
}
    
#navigation li {
    display: block;
    margin: 10px 30px 0px 30px;
    }
    
    #navigation li a {
        font-size: 15px;
        color: black;
        text-decoration: none;
    }


.notification-counter {   
    position: absolute;
    top: -2px;
    left: 40px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 9px Verdana;
}

.btnIntervenir{
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-top: 10%;
    margin-right: 10%;
    width: 100%;
}


.custom-p {
    font-size: 18px;
    font-weight: lighter;
}



#btnModifCompte {
     padding: 10px 15px 11px !important;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-top: 3%;
    margin-right: 10%;
    width: 100%;
}
* {-moz-box-sizing: border-box; box-sizing: border-box;}

.custom-textarea {
    height: 25%;
    width: 100%;
}

.blockCenter {
    display: block;
    margin: 0 auto;
}

.custom-select {
    width: 80%;
    height: 45px;
    border: 1px solid;
    border-radius: 25px;
    background-color: white;
}


#ajoutMessage {
    margin-top: 20px;
}



/* -------------------------------------------- RESPONSIVE DESIGN - MEDIA QUERY ---------- */


/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      
    .arrow-left {margin-top: -5%;}
}/*---*/


    
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      
    #navigation li {margin: 10px 90px 0px 90px;}
    .arrow-left {width: 3%; margin-top: -3%;}
    .arrow-left2 {    width: 3%; margin-top: -1%;}
    #imgDetailTache {width: 70%;margin: auto; display: block;}
    #imgPerso {left: 75%; top: 25%;}
      
      
}/*---*/



/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .arrow-left2 {width: 4%; margin-top: -2%;}
}


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    #navigation li {margin: 10px 40px 0px 40px;}
    #imgPerso {top: 10%;}
    .arrow-left {width: 4%; margin-top: -4%;}
}


/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      
      #navigation li {margin: 10px 105px 0px 105px;}
      #imgDetailTache {width: 70%;margin: auto; display: block;}
      .arrow-left {width: 3%; margin-top: -3%;}
      #imgPerso {left: 75%; top: 25%;}
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .arrow-left {width: 3%; margin-top: -3%;}/* arrow-left = intervention */     
}

    
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      #navigation li {margin: 10px 110px 0px 110px;}
      #imgDetailTache{width: 70%; margin: 0 auto; display: block;}
      .arrow-left2 {width: 3%; margin-top: -1%;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      #navigation li {margin: 10px 115px 0px 115px;}
      #imgDetailTache {width: 60%; margin: 0 auto; display: block;}
      .arrow-left2 {width: 3%; margin-top: -1%;}/* arrow-left2 = tache */
}


/* ----------- iPad Pro ----------- */

/* Portrait */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) { 
    #navigation li {margin: 10px 160px 0px 160px;}
    .arrow-left {width: 2%;margin-top: -2%;}
    .arrow-left2 {width: 2%;margin-top: 0%;}
    #imgDetailTache {width: 55%; margin: 0 auto; display: block;}
}

/* Landscape */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation:landscape){
     #navigation li {margin: 10px 165px 0px 165px;}
    .arrow-left2 {margin-left: 60%;width: 1%; margin-top: 0%;}
    .arrow-left {width: 1%; margin-top: -1%; margin-left: 60%;}
    #imgDetailTache {width: 55%; margin: 0 auto; display: block;}
}

/* ----------- Labtop ----------- */
@media screen 
  and (min-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 
      #navigation li {margin: 10px 160px 0px 160px;}
      .arrow-left {width: 2%; margin-top: -2%; margin-left: 55%;}
      #imgPerso {top: 15%;}
      .arrow-left2 {width: 2%; margin-top: -1%; margin-left: 55%;}
      #imgDetailTache {width: 60%; margin: 0 auto; display: block;}
}
    
